# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_EMBODI_CTRLR_LEFT
	def_bool $(shields_list_contains,embodi_ctrlr_left)

config SHIELD_EMBODI_CTRLR_RIGHT
	def_bool $(shields_list_contains,embodi_ctrlr_right)